.label {
  transition: all 0.2s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin: 0 0 15px;
  border-bottom: 2px solid var(--segment-color);
  text-transform: uppercase;
  font-size: 12px;
}

.title {
  margin: 0 0 10px;
}

.description {
  font-size: 14px;
  opacity: 0.75;
}

@media (max-width: 968px) {
  [data-segments="6"] .description {
    display: none;
  }
}

@media (min-width: 1440px) {
  [data-segments="6"] .position-5 {
    left: -10%;
  }
  [data-segments="6"] .position-2 {
    right: -10%;
  }
}
